.mat-table {
  max-height: 37.5rem;
  overflow: auto;
}

.action-column {
  flex: 0 0 7.5rem;
}

.action-column-header {
  flex: 0 0 5.938rem;
}

// .card-name,
// .card-category {
//   display: flex;
//   width: 40%;
//   text-align: center;
// }

// .card-actions {
//   flex: auto;
//   width: 20%;
//   text-align: center;
// }
